__pycache__/
**/__pycache__/
*.py[cod]
*$py.class


.env/
.venv/
venv/
ENV/
env/

.vscode/


.env
.env.*


.DS_Store
Thumbs.db


.ipynb_checkpoints


*.log

*.mp3
*.wav




dist/
build/
*.spec

*.bak
*.tmp
